*{
    padding: 0;
    margin: 0;
}

body{
    width: 100vw;
    padding: 10px;
    overflow-x: hidden;
}

.principal{
    text-align: center;
    padding: 10px;
}

.font-style{
    font-size:6rem ;
    font-family: 'Dancing Script', cursive;
    border-bottom: 2px solid lightgray;
    padding-bottom: 20px;
}
.font-style02{
    font-size:2rem ;
}
.div-calculos{
    padding: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.filhas{
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    padding: 20px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 200px;
}
.WrapNumInput{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.Btn{
    border-radius: 10px;
    background-color: blue;
    border: none;
    margin-top: 20px;
    padding: 10px;
    width: 100%;
    opacity: 0.8;
    font-weight: 900;
    color: white;
}
.Btn:hover{
    opacity: 1;
    cursor: pointer;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    color: black;
    font-weight: 900;

}